h1{
    text-align: center;
    color: white;
    font-size: 300%;
    border: 1px solid black;width: 1100px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(93, 0, 255);
}
p{
    text-align: center;
    font-size: large;
    
}
h2{
    color:white;
    border: 1px solid black;
    padding: top 7px; 
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    background-color:green;
}
h3{
    text-align: center;
    color:white;
    border: 1px solid black;width: 200px;
    padding: top 3px; 
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
    background-color:red;
}

