table, th, td {
    border: 1px solid black;
    }
    
    th {
    background-color:yellow;
    }
    td {
    background-color:powderblue;
    }
    td {
    text-align:center;
    }
    
    h3 {
    background-color:orange;
    }
    h3{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    }
    h3 {
    border: 10px solid black;
    }
    h1, h2 {
text-align: center;
    }
    